# compiled code and build products
__pycache__/
*.pyc
*.so
build/
dist/
*.egg-info/

# default directory for downloaded model files
SNEWPY_models/

# editor-specific
.vscode/
doc/nb/.ipynb_checkpoints/snowglobes_models-checkpoint.ipynb
doc/nb/.ipynb_checkpoints/SNEWPY_examples-checkpoint.ipynb
doc/nb/.ipynb_checkpoints/AnalyticFluence-checkpoint.ipynb
